body  {
    margin: 4px;
}




.fa-solid {
    width: 20px;
    height: 20px;
    
}

nav ul  {
    display: flex; ;

}

nav ul  {
    list-style-type: none;
    gap: 20px;
}
nav a {
    text-decoration: none;
}
.Wanjiru  {
    box-shadow: 2px 2px 2px gray;
    width: 200px;
    height: 30vh;
    background-color: yellow;
    color: black;
border-radius: 8px;

}
/* Hexadecimal colors #RRGGBB */
.background {
    background-color: #bfa;
    height: 100px;
    width: 100px;
    border-radius:8px ;
}
/* RGB 0-255*/
.background-one {
    background-color: rgb(14, 20, 50);
    height: 100px;
    width: 100px;
    border-radius: 8px;
}

.background-two {
    background-color: rgba(30, 50, 70, 0.3);
    height: 100px;
    width: 100px;
    border-radius: 8px;
}
 .glass {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 70vw;
    background-image: url(assets/images/desktop.jpg );
    background-position: center;
    background-size: cover;
 }
 
 .card {
    position: absolute;
    height: 60%;
    width: 40%;
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(2px) ;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.8s, backdrop-filter 0.5s;
    z-index: 10;
 }

 .card:hover {
    backdrop-filter: blur(14px);
    transform: rotateY(180deg);
 }
 
 #logo {
    height: 90%;
    width: 75%;
    border-radius: 8px;
 }
 .box  {
    width: 300px;
    height: 200px;
    padding: 10px;
    margin: 5px;
    border: 1px solid red;
    background-color: blueviolet;

 }

 .box-1 {
    width: 300px;
    height: 200px;
    padding: 10px;
    margin: 5px;
    border: 1px solid red;
    background-color: blueviolet;
    box-sizing: border-box;
 }