/*p {
            font-family: Arial, Helvetica, sans-serif;
            color: aqua;
            font-style: italic;
}


h1{
    color: blueviolet;
    font-style: italic;
}

h2 {color: cadetblue;

}
h3{
    color: chartreuse;
}


/* Types of css selectors*/
/* Universal Selector */

* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

/*element selector*/
button {
    padding: 4px;
    background-color: blue ;
    color: azure;
    border: none;
    border-radius:8px ;
    margin: 4px;
    cursor: pointer;
}

body {
    background-color: rgb(245, 165, 225);
    color: azure;
}

img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
/* Class selector*/
.container {
    border: 1px solid red;
    width: 500px;
    height: 200px;
    background-color: azure;
}
.logo-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: chartreuse;
    font: bold;
}
 
a {
    text-decoration: none;
}
/*ID selectors*/

/*#portfolio {
    border: 4px dotted green;
}*/
.content section {
    border: 1px solid red;
}

/*Attribute Selector*/
a[href]{
    color: rgb(64, 83, 252);
}
/*Descendant selector*/
div h4 {
    color: red;
}
div ul li {
    color: blue;
}

/* child selector*/
div > p {
    color: rgb(17, 248, 67);

}
/* Adjacent sibling selector*/
h4 + nav {
    background-color: green;
    color: black;
    align-items: end;
}
/* General sibling selector*/
h3 ~ p {
    color:gray;
} 
/* Grouping selector*/
h2,h3,h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

/*Interactive state pseudo-classes*/
.cta-btn:hover {
    background-color:brown;
    color: white;
}
.cta-btn:active {
    background-color: rgb(222, 238, 5);
    color: white;
}

input:focus {
    border-color: purple;
    
}

a ::before {
    content: "navigation links";
    color: red;
}
p ::after {
    content: " - end of paragraph";
    color: yellow;
}
